!!! 5
html(lang='en')
  include includes/head

  body
    include includes/navbar

    div.container
      div.row

        div.span9
          if loggedIn
            div.well
              p
                | You are
                em #{username}
              p
                a(href="/logout").btn.btn-small.btn-inverse Sign Out
          else
            if needsWarning
              div.alert.alert-block
                h4.alert-heading Access denied
                | Sorry, unauthorized users can't view this page

            if wrongPassword
              div.alert.alert-error
                h4.alert-heading Error
                | Login or password was wrong

            form.well.form-horizontal(method='post')
              input(type='text', placeholder='Login', name='login').input-small
              input.input-small(type='password', placeholder='Password', name='password')
              label.checkbox
                input(type='checkbox', name='remember')
                | Remember me

              button.btn(type="submit") Sign in


      include includes/footer