include includes/head
    style
        media="screen" * {
            margin: 0;
            padding: 0;
        }
        ul {
            display: block;
            list-style-type: disc;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
        }
        li {
            list-style-position: inside;
        }
        .sidebar-view {
            position: absolute;
            width: 0;
            top: 72px;
            bottom: 30px;
            right: 16px;
            z-index: 200;
        }
        .sidebar-panel-view {
            position: relative;
            width: 332px;
            min-height: 40px;
            margin-left: -332px;
            -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.2);
            box-shadow: 0 2px 3px 1px rgba(0,0,0,.2);
            background: #fff;
        }

    .sidebar-view
        .sidebar-panel-view
            ul
                for address in addressObject
                    li= address.name
    #map
    script.
        $(document).ready(function () {
            initMap();
        });
        function initMap() {
            var addressPoints = !{JSON.stringify(addressObject)}
            var map = new L.Map('map', {center: new L.LatLng(55.7522, 37.6156), zoom: 17, zoomAnimation: false});
            var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            var yndx = new L.Yandex();
            var googleLayer = new L.Google('ROADMAP');
            var mainMap = new L.TileLayer('http://velios.myjino.ru/maptiles/main/{z}/{x}/{y}.jpg');
            var universiadaMap = new L.TileLayer('http://velios.myjino.ru/maptiles/universiada/{z}/{x}/{y}.jpg');
            for (var i = 0; i < addressPoints.length; i++) {
                var a = addressPoints[i];
                var marker = L.marker(new L.LatLng(a.cx, a.cy), {title: a.name});
                marker.bindPopup(a.name);
                //markers.addLayer(marker);
                map.addLayer(marker);
            }
            map.addLayer(yndx);
            map.addControl(new L.Control.Layers({
                "Yandex": yndx,
                'OSM': osm,
                "Google": googleLayer,
                "Основной чертеж": mainMap,
                "Универсиада": universiadaMap
            }));
        }

include includes/footer