div.span3
  div.well
    p
      a(href="https://developer.mozilla.org/docs/html/?WT.mc_id=mdn26", title="HTML docs by developers, for developers on MDN")
        img(src="https://developer.mozilla.org/media/img/promote/promobutton_mdn26.png",alt="HTML docs by developers, for developers on MDN")

    p
      a(href="https://developer.mozilla.org/docs/javascript/?WT.mc_id=mdn3", title="Better JavaScript docs for a better Web on MDN")
        img(src="https://developer.mozilla.org/media/img/promote/promobutton_mdn3.png", alt="Better JavaScript docs for a better Web on MDN")