head
  meta(charset='utf-8') 
  title Halva
  link(href='/css/styles.css', rel='stylesheet')
  link(href='favicon.ico', rel='shortcut icon')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://api.easyjquery.com/easyjquery.js')
  script(src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU')
  script(src='/js/jquery-ui-1.8.21.custom.min.js')
  link(href="/css/jquery-ui-1.8.21.custom.css")
  script(src='/js/jscript.js')
  script(src='/js/html5shiv.js')
  script(src='/js/doctorsJSON.js')